/* ===================== SASS Mixins ===================== */

$purple: #7360A1;
$dark-purple: #493869;
$darker-purple: #2A213A;
$light-purple: #A199CB;
$lighter-purple: #DED7EB;

$blue: #7080BE;
$dark-blue: #3D4878;
$darker-blue: #142B49;
$light-blue: #A6C4E2;
$lighter-blue: #DCE7EE;

@mixin form-header($color) {
  @extend .fjalla-one;
  @extend .text-uppercase;
  @extend .text-#{$color};
}

@mixin form-sub-header($color) {
  @extend .times-new-roman;
  @extend .text-#{$color};
}

@mixin capitol-input-field($color) {
  @extend .text-#{$color};
  @extend .border-#{$color}-1;
  @extend .no-border-radius;
  @extend .buffer-margin-10;
}

@mixin capitol-button($color) {
  @extend .btn-#{$color};
  @extend .text-white;
  @extend .no-border-radius;
  @extend .text-uppercase;
  @extend .fjalla-one;
}


/* ===================== Textual Color ===================== */

.link-dark-purple, .link-dark-purple * { @include link-colors($blue, $light-purple, $light-purple, $blue, $light-purple); }
.link-blue-light-purple-important, .link-blue-light-purple-important * { @include link-colors($blue !important, $light-purple !important, $light-purple !important, $blue !important, $light-purple !important); }
.link-lighter-purple, .link-lighter-purple * { @include link-colors($lighter-purple, white, white, $lighter-purple, white); }
.link-blue-white-important, .link-blue-white-important * { @include link-colors($blue !important, white !important, white !important, $blue !important, white !important); }


.text-white, .text-white *  { color: white !important; }

.text-purple, .text-purple *  { color: $purple; }
.text-light-purple, .text-light-purple *  { color: $light-purple; }
.text-light-purple-important, .text-light-purple-important *  { color: $light-purple !important; }
.text-lighter-purple, .text-lighter-purple *  { color: $lighter-purple; }
.text-lighter-purple-important, .text-lighter-purple-important *  { color: $lighter-purple !important; }
.text-dark-purple, .text-dark-purple *  { color: $dark-purple; }
.text-darker-purple, .text-darker-purple *  { color: $darker-purple; }

.text-blue, .text-blue *  { color: $blue }
.text-blue-important, .text-blue-important *  { color: $blue !important; }
.text-light-blue, .text-light-blue *  { color: $light-blue; }
.text-light-blue-important, .text-light-blue-important *  { color: $light-blue !important; }
.text-lighter-blue, .text-lighter-blue *  { color: $lighter-blue; }
.text-dark-blue, .text-dark-blue *  { color: $dark-blue; }
.text-darker-blue, .text-darker-blue *  { color: $darker-blue; }

/*
.input-text-light-blue input, select, textarea { color: $light-blue !important; }
.input-text-light-blue textarea:focus, input:focus { color: $light-blue !important; }
*/

/* ===================== Background Colors ===================== */

.background-light-blue-hover-important:hover { background-color: $light-blue !important; }


.background-purple { background-color: $purple !important; }
.background-dark-purple { background-color: $dark-purple !important; }
.background-darker-purple { background-color: $darker-purple !important; }
.background-light-purple { background-color: $light-purple !important; }
.background-lighter-purple { background-color: $lighter-purple !important; }

.background-blue { background-color: $blue !important; }
.background-dark-blue { background-color: $dark-blue !important; }
.background-darker-blue { background-color: $darker-blue !important; }
.background-light-blue { background-color: $light-blue !important; }
.background-lighter-blue { background-color: $lighter-blue !important; }

.background-purple-opacity-40 { background-color: rgba($purple, 0.4) !important; }
.background-dark-purple-opacity-40 { background-color: rgba($dark-purple, 0.4) !important; }
.background-darker-purple-opacity-40 { background-color: rgba($darker-purple, 0.4) !important; }
.background-light-purple-opacity-40 { background-color: rgba($light-purple, 0.4) !important; }
.background-lighter-purple-opacity-40 { background-color: rgba($lighter-purple, 0.4) !important; }

.background-blue-opacity-40 { background-color: rgba($blue, 0.4) !important; }
.background-dark-blue-opacity-40 { background-color: rgba($dark-blue, 0.4) !important; }
.background-darker-blue-opacity-40 { background-color: rgba($darker-blue, 0.4) !important; }
.background-light-blue-opacity-40 { background-color: rgba($light-blue, 0.4) !important; }
.background-lighter-blue-opacity-40 { background-color: rgba($lighter-blue, 0.4) !important; }

.background-white { background-color: white !important; }


/* ===================== Border Colors ===================== */

.border-right-white-1 { border-right: solid 1px white; }

.border-purple-1 { border: solid 1px $purple; }
.border-top-purple-1 { border-top: solid 1px $purple; }
.border-bottom-purple-1 { border-bottom: solid 1px $purple; }
.border-right-purple-1 { border-right: solid 1px $purple; }
.border-left-purple-1 { border-left: solid 1px $purple; }

.border-light-purple-1 { border: solid 1px $light-purple; }
.border-top-light-purple-1 { border-top: solid 1px $light-purple; }
.border-bottom-light-purple-1 { border-bottom: solid 1px $light-purple; }
.border-right-light-purple-1 { border-right: solid 1px $light-purple; }
.border-left-light-purple-1 { border-left: solid 1px $light-purple; }

.border-lighter-purple-1 { border: solid 1px $lighter-purple; }
.border-top-lighter-purple-1 { border-top: solid 1px $lighter-purple; }
.border-bottom-lighter-purple-1 { border-bottom: solid 1px $lighter-purple; }
.border-right-lighter-purple-1 { border-right: solid 1px $lighter-purple; }
.border-left-lighter-purple-1 { border-left: solid 1px $lighter-purple; }

.border-dark-purple-1 { border: solid 1px $dark-purple; }
.border-top-dark-purple-1 { border-top: solid 1px $dark-purple; }
.border-bottom-dark-purple-1 { border-bottom: solid 1px $dark-purple; }
.border-right-dark-purple-1 { border-right: solid 1px $dark-purple; }
.border-left-dark-purple-1 { border-left: solid 1px $dark-purple; }

.border-darker-purple-1 { border: solid 1px $darker-purple; }
.border-top-darker-purple-1 { border-top: solid 1px $darker-purple; }
.border-bottom-darker-purple-1 { border-bottom: solid 1px $darker-purple; }
.border-right-darker-purple-1 { border-right: solid 1px $darker-purple; }
.border-left-darker-purple-1 { border-left: solid 1px $darker-purple; }

.border-blue-1 { border: solid 1px $blue; }
.border-blue-1-important { border: solid 1px $blue !important; }
.border-top-blue-1 { border-top: solid 1px $blue; }
.border-bottom-blue-1 { border-bottom: solid 1px $blue; }
.border-right-blue-1 { border-right: solid 1px $blue; }
.border-left-blue-1 { border-left: solid 1px $blue; }

.border-light-blue-1 { border: solid 1px $light-blue; }
.border-light-blue-1-important { border: solid 1px $light-blue !important; }
.border-top-light-blue-1-important { border-top: solid 1px $light-blue !important; }
.border-top-light-blue-1 { border-top: solid 1px $light-blue; }
.border-bottom-light-blue-1 { border-bottom: solid 1px $light-blue; }
.border-right-light-blue-1 { border-right: solid 1px $light-blue; }
.border-left-light-blue-1 { border-left: solid 1px $light-blue; }

.border-lighter-blue-1 { border: solid 1px $lighter-blue; }
.border-lighter-blue-1-important { border: solid 1px $lighter-blue !important; }
.border-top-lighter-blue-1 { border-top: solid 1px $lighter-blue; }
.border-bottom-lighter-blue-1 { border-bottom: solid 1px $lighter-blue; }
.border-right-lighter-blue-1 { border-right: solid 1px $lighter-blue; }
.border-left-lighter-blue-1 { border-left: solid 1px $lighter-blue; }

.border-dark-blue-1 { border: solid 1px $dark-blue; }
.border-top-dark-blue-1 { border-top: solid 1px $dark-blue; }
.border-bottom-dark-blue-1 { border-bottom: solid 1px $dark-blue; }
.border-right-dark-blue-1 { border-right: solid 1px $dark-blue; }
.border-left-dark-blue-1 { border-left: solid 1px $dark-blue; }

.border-darker-blue-1 { border: solid 1px $darker-blue; }
.border-top-darker-blue-1 { border-top: solid 1px $darker-blue; }
.border-bottom-darker-blue-1 { border-bottom: solid 1px $darker-blue; }
.border-right-darker-blue-1 { border-right: solid 1px $darker-blue; }
.border-left-darker-blue-1 { border-left: solid 1px $darker-blue; }


/* ================ Button Colors ================ */

.btn-purple { @include button-variant(none, $purple, $light-purple); }
.btn-light-purple { @include button-variant(none, $light-purple, $lighter-purple); }
.btn-blue { @include button-variant(none, $blue, $light-blue); }
.btn-light-blue { @include button-variant(none, $light-blue, $lighter-blue); }


/* ================ Bootstrap Overrides ================ */


/* Panels */

@mixin panel($color) {
  @extend .border-#{$color}-1;
  @extend .no-border-radius;
  
  .btn { @include capitol-button($color) }

  input { 
    @extend .input-lg;
    @include capitol-input-field($color);
  }
  
  .panel-heading {
    @extend .background-#{$color};
    @extend .no-border-radius;
    @extend .text-white;
    
    .panel-title {
      @extend .fjalla-one;
      @extend .text-uppercase;
      @extend .font-size-130;
    }
  }
}