/* ===================== Universal ===================== */

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* Font CSS */

.fjalla-one:not(i):not(.glyphicon), .fjalla-one *:not(i):not(.glyphicon) { font-family: 'Fjalla One', sans-serif; }
.raleway:not(i):not(.glyphicon), .raleway *:not(i):not(.glyphicon) { font-family: 'Raleway', sans-serif; }
.times-new-roman:not(i):not(.glyphicon), .times-new-roman *:not(i):not(.glyphicon) { font-family: TimesNewRoman, 'Times New Roman', Times, serif; }


/* Link CSS */

a { 
  @include transition(all 0.2s linear);
  @extend .text-decoration-none;

  .btn-blue {
      @extend .btn-blue;
  }
}


/* Form CSS */

textarea { resize: vertical; }


/* Layout CSS */

html, body{
  height: 100%;
}

body {
  font-size: 16px;
  * { font-family: 'Tinos', serif; }
}


/* Header */

#spree-header {
  #link-to-cart {
    a {
      @include text-vertical-align-middle(60px);
  
      @extend .col-xs-12;
      @extend .btn;
      @extend .btn-blue;
      @extend .no-border-radius;
      @extend .no-padding;
    }
  }
  
  #logo-text {
    @include text-vertical-align-middle(60px);
  }
}


/* Account Login & Registration Pages */

#password-credentials {
  @extend .buffer-padding-10;
  
  input {
    @extend .input-lg;
    @extend .times-new-roman;
    @extend .text-light-blue;
    @extend .border-light-blue-1;
    @extend .no-border-radius;
    @extend .buffer-margin-10;
    @extend .no-margin-top;
  } 
}

#signup {
  #signup-title {
    h1 {
      @extend .fjalla-one;
      @extend .text-uppercase;
      @extend .fjalla-one;
      @extend .text-blue;
    }
    h4 {
      @extend .times-new-roman;
      @extend .text-light-blue;
    }
  }
    
  #new-customer {
    @extend .col-md-5;
    @extend .no-padding;

    #register-submit {
      input[type=submit] {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-light-blue;
        @extend .text-white;
        @extend .no-border-radius;
        @extend .text-uppercase;
        @extend .fjalla-one;
      }
    }
  }
}

#login {
  #login-title h1 {
    @extend .text-blue;
    @extend .fjalla-one;
    @extend .text-uppercase;
    @extend .fjalla-one;
  }
  
  #existing-customer {
    @extend .col-md-5;
    @extend .no-padding;

    #login-remember-me {
      label { @extend .text-light-blue; }
    }
    
    #login-submit {
      @extend .buffer-margin-10;
      
      input {
        @extend .btn-lg;
        @extend .btn-light-blue;
        @extend .text-white;
        @extend .no-border-radius;
        @extend .text-uppercase;
        @extend .fjalla-one;
      }
      
      span { @extend .text-light-blue; }
    }
  }
}


/* Products Index Page */

.pagination {
  li {
    a {
        @extend .buffer-margin-5-horizontal;
        @extend .fjalla-one;
        @extend .border-lighter-blue-1-important;
        @extend .text-light-blue;
        @extend .no-border-radius;
    }

    &.active a {
        @extend .text-white;
        @extend .background-lighter-blue;
    }
  }
}

.sidebar-main {
  @extend .panel-group;
  @extend .fjalla-one;
  @extend .text-uppercase;

  .sidebar-panel {
    @extend .panel;
    @extend .panel-default;
    @extend .no-border-radius;
    @extend .border-lighter-blue-1;
  }
  
  .sidebar-heading {
    @extend .panel-heading;
    @extend .background-light-blue;
    @extend .text-white;
    @extend .no-border-radius;
    
    .taxonomy-root h4 {
      @extend .panel-title;
    }
  }
  
  .sidebar-collapse {
    @extend .panel-collapse;
    @extend .collapse;
    @extend .font-size-80;
  }
  
  .toggle-chevron {
    @extend .pull-right;
    @extend .text-blue;
  }
}

.product-body { 
  height: 240px;
  
  @extend .text-center;
  
  [data-hook="product_item_tags"] {
    @extend .text-uppercase;
    @extend .fjalla-one;
    
    span.info { 
      @extend .text-dark-blue;
      @extend .font-size-120;
    }
    span.price { @extend .text-blue; }
  }
}

.taxon-title, .subtaxon-title {
  @extend .text-uppercase;
  @extend .fjalla-one;
  @extend .text-light-blue;
  @extend .border-bottom-light-blue-1;
  @extend .buffer-padding-5;
}

ol.breadcrumb {
  @extend .no-background;
  @extend .text-light-blue;
}

.list-group-item.active {
  border: initial;

  @extend .background-light-blue;
  @extend .text-white;
}

#sidebar_products_search {
  @extend .text-uppercase;
  @extend .fjalla-one;

  div.navigation {
    @extend .text-light-blue;
  }
  input[type="submit"] {
    @extend .btn-light-blue;
    @extend .text-uppercase;
    @extend .text-white;
    @extend .no-border-radius;
    @extend .buffer-padding-20-horizontal;
  }
}


/* Product show Page */

#product-details {
  #product-images {
    height: 450px;

    #main-image img { @extend .col-xs-6; max-height: 450px; }
  }
  
  #product-description { 
    @extend .raleway;
    
    #description {
      @extend .border-top-light-blue-1;
      @extend .text-light-blue;
      @extend .buffer-margin-20;
      @extend .buffer-padding-20;
    }
  }

  #cart-form {
    #product-price {
      @extend .buffer-margin-10;
    
      .price {
        @extend .text-light-purple;
        @extend .fjalla-one; 
        @extend .text-bold;
      }
    }

    #product-stars { 
      @extend .buffer-margin-10;
      
      span { @extend .pull-right; }
    }
    
    #product-variants { 
      @extend .buffer-margin-10;
      
      #variant-select {
        @extend .text-uppercase;
        @extend .no-border-radius;
        @extend .border-blue-1;
        @extend .text-blue;
        @extend .input-lg;
        @extend .buffer-padding-10;
      }
    }
    
    #product-supply {
      @extend .buffer-margin-10;
      
      #quantity {
        @extend .no-border-radius;
        @extend .input-lg;
        @extend .fjalla-one;
        @extend .border-light-purple-1;
        @extend .text-light-purple;
      }
      #add-to-cart-button {
        @extend .btn-lg;
        @extend .btn-light-purple;
        @extend .no-border-radius;
        @extend .text-white;
        @extend .text-uppercase;
        @extend .fjalla-one;
        @extend .col-xs-12;
      }
    }
    
    #wishlist-form button {
      @extend .btn-lg;
      @extend .btn-light-purple;
      @extend .no-border-radius;
      @extend .text-white;
      @extend .text-uppercase;
      @extend .fjalla-one;
      @extend .width-100;
    }
  }
  
  .product-section-title {
    @extend .text-center;
    @extend .text-uppercase;
    @extend .text-dark-blue;
    @extend .fjalla-one;
  }
  .product-title { 
    @extend .fjalla-one;
    @extend .text-uppercase;
    @extend .text-dark-blue;
  }
  .tag { @extend .raleway; }
  
  #reviews{
    .reviews-section-title {
      @extend .background-light-blue;
      @extend .buffer-padding-10;
      @extend .text-white;
    }
    #ratings-section, .reviews-none {
      @extend .text-light-blue;
    }
    
    .review {
      span[itemprop="author"] {
        @extend .buffer-padding-10-horizontal;
        @extend .text-light-blue;
      }
      .review-rating {
        @extend .buffer-padding-10-horizontal;
        @extend .no-padding-left;
      }
      .attribution {
        @extend .buffer-padding-10-horizontal;
        @extend .border-left-lighter-blue-1;
        @extend .text-lighter-blue;
      }
    }
    
    a.btn {
      @extend .btn-lg;
      @extend .btn-light-purple;
      @extend .no-border-radius;
      @extend .text-white;
      @extend .text-uppercase;
      @extend .fjalla-one;
      @extend .col-xs-4;
      @extend .col-xs-offset-4;
    }
  }
}


/* ============= Gem Modifications ============== */


/* Social Nav */

#social_nav h6 {
  @extend .product-title;
  @extend .font-size-150;
}


/* Product Reviews & Ratings */

.star-rating {
  @extend .buffer-margin-5-horizontal;
}