@import "color-scheme";
@import "../global-helpers";


// migrate when you can
.btn-purple { @include button-variant(none, $purple, $light-purple); }
.btn-blue { @include button-variant(none, $blue, $light-blue); }
.btn-light-blue { @include button-variant(none, $light-blue, $lighter-blue); }



/* ===================== Universal ===================== */

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* Font CSS */

.fjalla-one { font-family: 'Fjalla One', sans-serif; }
.text-uppercase, .text-uppercase * { @extend .fjalla-one; }
.times-new-roman { font-family: TimesNewRoman, 'Times New Roman', Times, serif; }
.times-new-bold { font-family: TimesNewRoman, 'Times New Roman', Times, serif; font-weight: bold; }

/* Link CSS */

a { 
  transition: all 0.2s linear;

  @extend .text-decoration-none;
}


/* Form CSS */

textarea { resize: vertical; }


/* Layout CSS */

html, body{
  height: 100%;
}

body {
  font-size: 16px;
  * { font-family: 'Tinos', serif; }
}


/* Header */

#link-to-cart {
  a {
    @include text-vertical-align-middle(60px);

    @extend .col-xs-12;
    @extend .btn;
    @extend .btn-blue;
    @extend .no-border-radius;
    @extend .no-padding;
  }
}

a.btn-blue {
    @extend .btn-blue;
}

#logo-text {
  @include text-vertical-align-middle(60px);
}


/* Account Login & Registration Pages */

#password-credentials {
  @extend .buffer-padding-10;
  
  input {
    @extend .input-lg;
    @extend .times-new-roman;
    @extend .text-light-blue;
    @extend .border-light-blue-1;
    @extend .no-border-radius;
    @extend .buffer-margin-10;
    @extend .no-margin-top;
  } 
}

#signup {
  #signup-title {
    h1 {
      @extend .fjalla-one;
      @extend .text-uppercase;
      @extend .text-blue;
    }
    h4 {
      @extend .times-new-roman;
      @extend .text-light-blue;
    }
  }
    
  #new-customer {
    @extend .col-md-5;
    @extend .no-padding;

    #register-submit {
      input[type=submit] {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-light-blue;
        @extend .text-white;
        @extend .no-border-radius;
        @extend .text-uppercase;
      }
    }
  }
}


#login {
  #login-title h1 {
    @extend .text-blue;
    @extend .fjalla-one;
    @extend .text-uppercase; 
  }
  
  #existing-customer {
    @extend .col-md-5;
    @extend .no-padding;

    #login-remember-me {
      label { @extend .text-light-blue; }
    }
    
    #login-submit {
      input {
        @extend .btn-lg;
        @extend .btn-light-blue;
        @extend .text-white;
        @extend .no-border-radius;
        @extend .text-uppercase;
      }
    }
  }
}
