<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar no-border-radius background-lighter-blue border-top-light-blue-1-important">
    <ul class="nav navbar-nav no-margin no-padding col-sm-12 text-center text-uppercase fjalla-one link-blue-white-important" data-hook>
      <li class="col-sm-1 col-xs-4 no-padding background-light-blue-hover-important" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-1 col-xs-4 no-padding background-light-blue-hover-important" id="products-link" data-hook><%= link_to Spree.t(:products), spree.products_path %></li>
    </ul>
  </div>
</nav>