<nav class="navbar col-xs-12" id="top-nav-bar">
  <div class="col-md-4 col-xs-12 no-padding background-blue border-light-blue-1 no-border-bottom text-center text-vertical-center-height-60">
    <div class="col-md-7 col-sm-4 col-xs-5">
      <figure id="logo" data-hook>
        <%= link_to image_tag(current_store.logo), root_path %>
      </figure>
    </div>
    <div class="col-xs-1">
      <span class="border-lighter-blue-1 buffer-padding-10"></span>
    </div>
    <div class="col-md-4 col-sm-7 col-xs-5 text-uppercase fjalla-one font-size-120 text-lighter-blue">
      Online Store
    </div>
  </div>
  <div class="col-md-6 col-sm-8 col-xs-12 no-padding">
    <%= render partial: 'spree/shared/capitol-drugs/search' %>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12 no-padding">
    <div class="text-uppercase fjalla-one text-lighter-purple-important" id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </div>
    <script>Spree.fetch_cart()</script>
  </div>
</nav>