<%= form_tag spree.products_path, method: :get do %>
    <div class="col-sm-10 col-xs-9 no-padding">
        <%= search_field_tag :keywords, params[:keywords], placeholder: I18n.t(:product_or_brand_search), class: "border-top-light-blue-1 no-border-right no-border-left no-border-bottom buffer-padding-20 font-size-120 width-100 no-outline buffer-padding-10-horizontal", style: "height: 60px;" %>
    </div>
    <div class="col-sm-2 col-xs-3 no-padding">
        <%= button_tag fa_icon("search", class: "fa-2x"), name: nil, class: "btn no-background no-border-radius border-top-light-blue-1", style: "height: 60px; width: 100%;" %>
    </div>
<% end %>